.container{

        padding:5%;
        border-width: 5px;
        border-color: blue;
        border-style: groove;
        border-radius: 20px;
        
    
}
.form-group{
    margin: 7px;
}
button{
    margin-top: 5px;
}